name: Build & Release Windows

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "stable"
          cache: true

      - name: Enable Windows desktop
        run: flutter config --enable-windows-desktop

      - name: Flutter pub get
        run: flutter pub get

      - name: Build Windows release
        run: flutter build windows --release

      - name: Prepare release folder
        run: |
          mkdir release
          xcopy build\windows\x64\runner\Release release\Syncreve /E /I

      - name: Zip release
        run: |
          powershell Compress-Archive -Path release\Syncreve -DestinationPath Syncreve-windows.zip

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: Syncreve-windows.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
